@model EntityLayer.Concrete.Blog

<div class="mb-3">
	<label class="form-label">Başlık</label>
	<div class="row align-items-center">
		<div class="col-5">
			@Html.TextBoxFor(x=>x.Title, new {@class = "form-control"})
		</div>
		<div class="col-4">
			<span class="form-text">
				Must be 8-20 characters long.
			</span>
		</div>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Kategori</label>
	<div class="row align-items-center ">
		<div class="col-5">
			@Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new {@class ="form-select"})
		</div>
	</div>
</div>
<div class="mb-3">
	<div class="row align-items-center">
		<div class="col-5">
			<label class="form-label">Başlık Resmi</label>
			@Html.TextBoxFor(x=>x.Image, new {@class = "form-control", type = "file"})
			@* <input type="file" name="Image" class="form-control" /> *@
		</div>
		<div class="col-5">
			<label class="form-label">Küçük Resim</label>
			@Html.TextBoxFor(x=>x.Thumbnail, new {@class = "form-control"})
		</div>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">İçerik</label>
	<div class="row align-items-center ">
		<div class="col-10">
			@Html.TextAreaFor(x=>x.Content, new {@class = "form-control", @rows = "10"})
		</div>
	</div>
</div>
